.signup-box{
    width: 80%;
    max-width: 370px;
    border: 1px solid rgba(116, 116, 116, 0.76);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: .75rem;
    padding: 10px 0;
}

.signup-box img {
    width: 30%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 50%;
}

.signup-box input{
    width: 85%;
    height: 40px;
    margin: 12px auto;
    display: block;
    border: 1px solid rgba(116, 116, 116, 0.76);
    border-radius: .75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding-left: 15px;
}
.signup-box input:focus{
    outline: none;
}



.label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-left: 9px;
    position: absolute;
}

#submit-btn {
  width: auto;
  padding: 10px 30px;
  background-color: #ff529a;
  border: 1px solid transparent;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  height: 50px;
  transition: 0.15s;
  float: right;
  margin: 5px 5% 12px 0;
  cursor: default;
}

.submit-div{
    height: 200px;
    width: 80%;
    max-width: 300px;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: .75rem;
    border: 1px solid rgba(116, 116, 116, 0.76);
    background-color: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(43, 43, 43, 0.247);
    display: block;
}
.submit-div i{
    font-size: 40px;
    padding-top: 50px;
    color: #5271FF;
}
.submit-div h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-cls {
    text-align: center;
    
}